In [5]:
def print_table(num):
    for i in range(1,11):
        print(num,'x',i,'=',num*i)
n=int(input("the number whose table you want"))
print_table(n)

the number whose table you want6
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

In [6]:
def print_table(num):
    for i in range(1,11):
        print(num,'x',i,'=',num*i)
n=int(input("the number whose table you want"))
print_table(n)

the number whose table you want45
45 x 1 = 45
45 x 2 = 90
45 x 3 = 135
45 x 4 = 180
45 x 5 = 225
45 x 6 = 270
45 x 7 = 315
45 x 8 = 360
45 x 9 = 405
45 x 10 = 450

In [7]:
def print_table(num):
    for i in range(1,11):
        print(num,'x',i,'=',num*i)
n=int(input("the number whose table you want"))
print_table(n)

the number whose table you want9999
9999 x 1 = 9999
9999 x 2 = 19998
9999 x 3 = 29997
9999 x 4 = 39996
9999 x 5 = 49995
9999 x 6 = 59994
9999 x 7 = 69993
9999 x 8 = 79992
9999 x 9 = 89991
9999 x 10 = 99990